# Add any directories, files, or patterns you don't want to be tracked by version control


# storage

# configuration files
config/certbot/conf/*
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# old files 
*.old

db.sqlite3*
